*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: "Poppins" ,Helvetica, sans-serif;
    background: rgb(241, 241, 241);
}
ul, ol{ list-style: none; }
a:active, button:active{ transform: scale(0.97); }
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.image{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn{
    border: none;
    outline: 0;
    background: none;
}

/*----- HEADER -----*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    /* background: #fff; */
    z-index: 10;
}
.main-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{ width: 9%; }
nav ul li{
    display: inline-block;
    margin-left: 2.25rem;
}
nav ul li:first-child{ margin-left: 0; }
nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
.show{ display: block; }
.sub-menu{
    display: none;
    position: absolute;
    top: 70px;
    right: 12.75%;
    z-index: 5;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 10px 20px 10px;
    border-radius: 0 0 18px 18px;
}
.sub-menu ul li{ margin-bottom: 10px; }
.sub-menu ul li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/*----- BANNER -----*/
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/craft_banner.jpeg);
    /* background: url(../images/craft_banner.jpeg); */
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: #FFD6E9; */
    width: 100%;
    height: 800px;
    padding: 2rem 0;
    color: #fff;
}
.banner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content h1{
    font-size: 3.25rem;
    line-height: 1;
}
.banner-content p{
    font-size: 1.5rem;
}

/*----- PRODUCT SECTION -----*/
section.products{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem
}
.product{
    padding: 1rem;
    border-radius: 15px;
    /* background: rgb(233, 233, 233); */
    background: #fff;
    transition: all 0.3s ease-in;
}
.product:hover{
    background: rgb(225, 225, 225);
}
.productImage-container{ height: 300px; }
.product h4{
    font-size: 1.75rem;
    line-height: 1;
    margin-top: 1rem;
    text-transform: uppercase;
}
.product-price{ font-size: 1.25rem;margin-bottom: 7px; }
.product-btn{
    width: 70%;
    border: 0;
    outline: 0;
    background: #000;
    border-radius: 30px;
    color: #fff;
    margin: 1rem auto 0;
    display: block;
    padding: 12px 0;
    font-size: 1rem;
    text-transform: uppercase;
}